.navbar {
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
  }
  
  .container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .navbar_logo {
    color: #6B25D0;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    font-family: spacegrotesk;
    font-weight: 900;
    font-size: 20px;
  }
  
  .navbar_icon {
    margin-right: 0.5rem;
    height: 35px;
    width: 35px;
  }
  
  .nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: end;
  }
  
  .nav_item {
    height: 80px;
    border-bottom: 2px solid transparent;
    font-family: apercu;
    font-weight: 500;
  }
  
  .nav_item:hover {
    border-bottom: 2px solid #6B25D0;
    color: #6B25D0;
  }
  
  .nav_links {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-family: apercu;
    font-weight: 500;
  }
  
  .fa_bars {
    color: #6B25D0;
  }
  
  .menu_icon {
    color: #6B25D0;
    display: none;
  }

  .btn_outline{
    background: white;
    color: #6B25D0;
    border: 1px solid #6B25D0;
    padding: 16px;
    width: 80%;
    height: 54px;
    border-radius: 27px;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav_menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav_menu.active {
      background: white;
      left: 0;
      /* opacity: 1; */
      transition: all 0.6s ease;
      z-index: 1;
    }
  
    .nav_links {
      color: #000;
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav_links:hover {
      color: #6B25D0;
      transform: scale(1.2);
      transition: all 0.3s ease;
    }
  
    .nav_item:hover {
      border: none;
    }
  
    .nav_item {
      width: 100%;
      background: white;
    }
  
    .navbar_logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu_icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa_times {
      color: #6B25D0;
      font-size: 2rem;
    }
  
    .nav_btn {
      display: flex;
      justify-content: center;
      background: white;
      align-items: center;
      width: 100%;
      color: #000;
      height: 120px;
      padding: 0;
    }
  }