@font-face {
  font-family: 'apercu';
  src: url(./fonts/ApercuProLight.otf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'apercu';
  src: url(./fonts/ApercuProMono.otf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'apercu';
  src: url(./fonts/ApercuProRegular.otf) ;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'apercu';
  src: url(./fonts/ApercuProMedium.otf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'apercu';
  src: url(./fonts/ApercuProBold.otf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'spacegrotesk';
  src: url(./fonts/SpaceGroteskRegular.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'spacegrotesk';
  src: url(./fonts/SpaceGroteskMedium.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'spacegrotesk';
  src: url(./fonts/SpaceGroteskBold.ttf);
  font-style: normal;
  font-weight: 900;
}
